.logo {
  display: flex;
}

.logo__company-name {
  width: 134px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: #ffffff;

  padding-top: 8px;
}

.logo__company-name--footer {
  color: #203c42;

  padding-top: 5px;

  width: auto;
}

.logo__company-slogan {
  width: 134px;

  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  color: #788891;
}

.logo__icon {
  margin-right: 16px;
}

.logo__icon--mobile {
  display: none;
}

.logo__link:hover {
  opacity: 0.6;
}

.logo__link:active {
  opacity: 0.3;
}

@media (max-width: $desktop-res) {
  .logo__icon {
    margin-right: 8px;
  }

  .logo__link {
    margin-right: 10px;
  }
}

@media (max-width: $tablet-res) {
  .logo__icon--desktop {
    display: none;
  }

  .logo__icon--mobile {
    display: block;
  }

  .logo__company-name-container {
    display: none;
  }
}
