html,
body {
  margin: 0;
  padding: 0;

  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.344;

  box-sizing: border-box;
}

.body {
  display: flex;
  flex-direction: column;
}

.body .content {
  flex-grow: 1;
}

*, *::before, *::after { box-sizing: inherit; }

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
  padding: 0;
}

.button {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 5px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;

  width: 180px;

  box-sizing: border-box;
}

.button:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;

}

.hidden {
  display: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}
